@font-face {
    font-family: "Roboto-Light";
    src: url("assets/Roboto-Light.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
    color: #ffff;
    font-family: Roboto-Light, sans-serif ;
    
}