@font-face {
    font-family: "Roboto-Light";
    src: url("assets/Roboto-Light.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #333 ;
    color: #ffff;
    font-family: Roboto-Light, sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.quiz-container{
    position: absolute;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 2rem ;
    width: 75vw;
    height: 75vh;
    max-width: 100%;
    box-shadow: 0.5rem 0.5rem 1rem #222 ;
    
}
#question{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}
ul{
    overflow-y: auto ;
}
ul li{
    padding-bottom: 1rem ;
}
.btns{
    position: absolute ;
    bottom: 0;
    display :flex;
    align-items: center;
    justify-content: center;
    left: 0rem;
}

li{
    list-style: none;
}
button{
    background: #fff;
    border: 1px;
    width: calc(75vw /2);
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
}
button:active{
    background: #666;
}
#skip{
    border-right: 1px solid black;
}
#next{
    border-left: 1px solid black;
} 



