@font-face {
    font-family: "Roboto-Light";
    src: url("attachments/Roboto-Light.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #222 url("attachments/background05.jpg") no-repeat ;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    font-family: Roboto-Light , sans-serif;
    color: #ffff;
    display: flex;
    flex-direction: colum;
    justify-content: center;
}
.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background: #0004;
    margin: 2rem;
    padding: 2rem;
}
.countdown-container{
    display:flex;
    flex-direction: colum;
    justify-content: center ;
}
.headline{
    text-align: center ;
    font-size: 2rem;
}