@font-face {
    font-family: "Roboto-Light";
    src: url("attachments/Roboto-Light.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    background: #222 url("attachments/background01.jpg") no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    min-height: 100vh;
    font-family: Roboto-Light , sans-serif;
    color: #ffff;
    display: flex;
    flex-direction: colum;
    justify-content: center; 
    align-items: center;
}
.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background: #0004;
    margin: 3rem;
    padding: 4rem 3rem;
}
.countdown-container{
    display:flex;
    flex-direction: colum;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
}
.headline{
    text-align: center ;
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5rem;
}
.countdown-container div{
    padding: 0.8rem;
    text-align: center;
    font-weight: 0;
}
.big-text{
    font-size: 2rem;
    font-weight: 600;
}