body{
    margin:0;padding:0;
    Border-style:border-box;
    background:#222;
    color:#eee;
    Height:100vh;
    Width:100vw;
    user-select:none;
}
r{color:darkorange;}
g{color:#0e0;}
bl{color:deepskyblue;}
#main{
    position:fixed;
    Height:100%;
    Width:100%;
    background:#111;
    Color:#fff;
    overflow:auto;
    font-family:Courier new;
}
#timediv{
    position:fixed;
    top:0.5em;
    right:3em;
    height:19px;
    padding-left:5px;
    padding-right:5px;
    background:black;
    border:0.5px solid #666;
    z-index:1;
    transition:1s ease;
    overflow:hidden;
    display:none;
}
#timediv:active{background:#aaa;}
#commandinp{
    position:fixed;
    bottom:5px;
    left:5px;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    font-size:1.1em;
    font-family:Courier new;
    background:#123;
    color:#0e0;
    outline:none;
    border:1px solid #777;
    width: calc(80% - 28px);
}
#commandbtn{
    position:fixed;
    bottom:5px;
    font-size:1em;
    right:5px;
    Width:20%;
    font-size:1.15em;
    background:#000;
    color:#bbb;
    outline:none;
    border:1px solid #777;
}
#commandbtn:active{background:#aaa;}
#navbtn{
    position:fixed;
    top:2px;
    right:0%;
    font-size:1.2em;
    padding-left:10px;
    overflow:auto;
    z-index:5;
    background:#000;
    Color:#eee;
    outline:none;
    transition:1s ease;
    border:1px solid #666;
    border-right:none;
    border-radius:10px 0 0 10px;
}
#navbtn:active{background:#aaa;
               top:2em;}
#nav{
    position:fixed;
    
    top:0;
    right:-60%;
    width:60%;
    Height:100%;
    overflow:auto;
    z-index:5;
    background:#000;
    transition:1s ease;
    border:0.1px solid #333;
    align-items:center;
}
#navsearch{
    position:absolute;
    left:1em; 
    top:1em;
    width:calc(100% - 42px);
    padding-left:5px;
    padding-right:5px;
    font-size:1.1em;
    background:#ccc;
    outline:none;
    border:0.1px solid #999;
    font-family:Courier new;
}
.navlist{
    position:relative;
    Font-size:1.2em;
    text-decoration:none;
    left:1em;
    font-family:Courier new;
    Width:calc(100% - 42px);
    padding:5px;
    background:;
    list-style-type:none;
    text-decoration:;
}
#navlistdiv a:nth-child(even) {
    background:#fff;
}
a{text-decoration:none;
  color:#eee;}
#workarea{
    position:fixed;
    top:2em;
    bottom:2.5em;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    background:#111;
    Color:#fff;
    word-wrap:break-word;
    overflow:auto;
    font-family:Courier new;
    
}
#progdiv{
    position:absolute ;
    border:1px solid #090;
    width:calc(100% - 40px);
    Height:1em;
    overflow:hidden;
}
#prog{
    position:relative;
    width:0%;
    background:#0f0;
}
.btnagain{
    font-family:Courier new;
    outline:none;
    border:1px solid #888;
    Color:#0d0;
    background:black;
    font-size:1em;
    
}
.btnagain:active{background:#090;}